src/main/mule/csv-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="csv-api-config" api="resource::7b416e0b-5c00-4be4-b383-880b9c43b6bf:csv-api:1.0.0:raml:zip:csv-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="csv-api-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_configuration">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="csv-api-config" />
		<error-handler ref="main-error-handler" />
    </flow>
    <flow name="csv-api-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_configuration">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="csv-api-config" />
		<error-handler ref="console-error-handler" />
    </flow>
    <flow name="get:\products:csv-api-config">
		<flow-ref doc:name="get-all-products" doc:id="74af1a3c-1637-44b9-8c57-fb342c3e8adb" name="get-all-products"/>
    </flow>
    <flow name="get:\products\(artist):csv-api-config">
		<flow-ref doc:name="get-products-by-artist" doc:id="d6747854-b5fd-4a03-b238-731639c3520d" name="get-products-by-artist"/>
    </flow>
</mule>
